@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">YAAAS</h1>
    <p>City: @Html.Raw(Model.Weather.CityName)</p>
    <p>Temperature: @Html.Raw(Model.Weather.Values.Temperature)&deg;C</p>
    <p>Request time: @Html.Raw(Model.Weather.TimeFormatted)</p>
    <h2>Trains</h2>
    <table>
        <tr>
            <th>Time</th>
            <th>Destination</th>
            <th>Calling at</th>
            <th>Coaches</th>
            <th>Status</th>
        </tr>
        @foreach (var service in Model.Board.Services)
        {
        <tr>
            <td>@Html.Raw(service.DepartTime.Time)</td>
            <td>@Html.Raw(service.EndStation.Name)</td>
            <td>@Html.Raw(string.Join(", ", service.EndStationCallingPoints.CallingPoint.Select(c => c.Name).ToArray()))</td>
            <td>@Html.Raw(service.CoachesCount)</td>
            <td>@Html.Raw(service.ExpectedArriveTime.Time)</td>
        </tr>
        }
    </table>
</div>
